.trial-blue {
  color: aliceblue;
  background-color: rgb(23, 23, 241);
}

.trial-green {
  color: #fafafa;
  background-color: #12f312;
}

.trial-yellow {
  color: #030101;
  background-color: hsl(60, 75%, 57%);
}

.trial-purple {
  color: white;
  background-color: rgb(184, 14, 184);
}

.trial-red {
  color: rgb(252, 243, 243);
  background-color: rgb(247, 19, 19);
}

.trial-skyBlue {
  color: rgb(3, 1, 1);
  background-color: rgb(35, 241, 241);
}
