.trial-blue {
  color: aliceblue;
  background-color: rgb(2, 2, 236);
}

.trial-green {
  color: #0c0000;
  background-color: #0ce90c;
}

.trial-yellow {
  color: #030000;
  background-color: hsl(60, 96%, 45%);
}

.trial-purple {
  color: #f7f2f2;
  background-color: rgb(163, 4, 163);
}

.trial-red {
  color: white;
  background-color: red;
}

.trial-skyBlue {
  color: rgb(3, 1, 1);
  background-color: rgb(9, 245, 245);
}
