.trial-active {
  color: aliceblue;
  background-color: rgb(2, 2, 236);
}

.trial-green {
  color: #fcfcfc;
  background-color: #0ce90c;
}

.trial-yellow {
  color: #030000;
  background-color: hsl(60, 96%, 45%);
}

.trial-purple {
  color: #ffffff;
  background-color: rgb(163, 4, 163);
}
