.item {
  background-color: rgb(8, 187, 120);
}

.Pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2px;
  font-size: 1rem;
}

.pageItem {
  color: rgb(255, 177, 22);
}

.previousClassName {
  color: rgb(28, 196, 9);
}

.pageNum {
  padding: 4px 8px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  border: 4px solid;
}

a.active {
  background-color: #ae0eee;
  color: rgb(255, 255, 255);
  /*border-radius: 5px;*/
  border-radius: 2px;
  border: 1px black;
}
