.item {
  background-color: rgb(8, 187, 120);
}

.Pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3px;
  font-size: 2rem;
}

.pageItem {
  color: rgb(252, 174, 24);
}

.previousClassName {
  color: rgb(25, 196, 9);
}

.pageNum {
  padding: 4px 10px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid;
}

a.active {
  background-color: #ae0eee;
  color: rgb(248, 244, 240);
  /*border-radius: 5px;*/
  border-radius: 2px;
  border: 1px black;
}
